
/*--------------------------------------------------------------------------
  Customize your CSS here
/*--------------------------------------------------------------------------*/

.fsdocs-example-header {
  font-size: 1.0rem;
  line-height: 1.375rem;
  letter-spacing: 0.01px;
  font-weight: 700;
  color: #262626;    
}

