language: csharp
solution: DiffSharp.sln
os:
  - linux
mono:
  - latest
script:
  - mono .paket/paket.bootstrapper.exe
  - mono .paket/paket.exe restore
  - xbuild /p:Configuration=Release /p:Platform=x64 /p:TargetFramework=net46 DiffSharp.sln
  - mono ./packages/NUnit.Runners/tools/nunit-console.exe ./tests/DiffSharp.Tests/bin/Release/DiffSharp.Tests.dll
notifications:
  email:
    on_success: never
    on_failure: change
