group Docs
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: symlink

  nuget FSharp.Compiler.Service ~> 35.0
  nuget FSharp.Formatting ~> 4.1
  nuget Newtonsoft.Json
