<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsAlg" version="0.5.1" targetFramework="net45" />
  <package id="FsCheck" version="1.0.4" targetFramework="net45" />
  <package id="FsCheck.Xunit" version="1.0.4" targetFramework="net45" />
  <package id="FSharp.Quotations.Evaluator" version="1.0.6" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0-rc1-build1030" targetFramework="net45" />
</packages>